<%= form_with(model: carrera) do |form| %>
  <% if carrera.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(carrera.errors.count, "error") %> prohibited this carrera from being saved:</h2>

      <ul>
        <% carrera.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :carrera, style: "display: block" %>
    <%= form.text_field :carrera %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
