<p style="color: green"><%= notice %></p>

<h1>Carreras</h1>

<div id="carreras">
  <% @carreras.each do |carrera| %>
    <%= render carrera %>
    <p>
      <%= link_to "Show this carrera", carrera %>
    </p>
  <% end %>
</div>

<%= link_to "New carrera", new_carrera_path %>
