<div id="<%= dom_id alumno %>">
  <p>
    <strong>Nombre:</strong>
    <%= alumno.nombre %>
  </p>

  <p>
    <strong>Numero de control:</strong>
    <%= alumno.numero_de_control %>
  </p>

  <p>
    <strong>Semestre:</strong>
    <%= alumno.semestre %>
  </p>

  <p>
    <strong>Carrera:</strong>
    <%= alumno.carrera %>
  </p>

</div>
