<%= form_with(model: tipo) do |form| %>
  <% if tipo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tipo.errors.count, "error") %> prohibited this tipo from being saved:</h2>

      <ul>
        <% tipo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :deportivo, style: "display: block" %>
    <%= form.check_box :deportivo %>
  </div>

  <div>
    <%= form.label :cultural, style: "display: block" %>
    <%= form.check_box :cultural %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
