<div id="<%= dom_id actividad %>">
  <p>
    <strong>Nombre:</strong>
    <%= actividad.nombre %>
  </p>

  <p>
    <strong>Deportivo:</strong>
    <%= actividad.deportivo %>
  </p>

  <p>
    <strong>Cultural:</strong>
    <%= actividad.cultural %>
  </p>

  <p>
    <strong>Docente:</strong>
    <%= actividad.docente %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= actividad.horario %>
  </p>

</div>
