<%= form_with(model: actividad) do |form| %>
  <% if actividad.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(actividad.errors.count, "error") %> prohibited this actividad from being saved:</h2>

      <ul>
        <% actividad.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :deportivo, style: "display: block" %>
    <%= form.check_box :deportivo %>
  </div>

  <div>
    <%= form.label :cultural, style: "display: block" %>
    <%= form.check_box :cultural %>
  </div>

  <div>
    <%= form.label :docente, style: "display: block" %>
    <%= form.text_field :docente %>
  </div>

  <div>
    <%= form.label :horario, style: "display: block" %>
    <%= form.datetime_field :horario %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
