<!DOCTYPE html>
<html>
<head>
  <title>ProyetoWeb</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<% if user_signed_in? %>
  <h1><%= current_user[:email] %></h1>

  <form method="delete" action="<%= destroy_user_session_path%>">
    <strong> [<%= current_user[:id] %>] <%= current_user[:email] %> </strong>
    <button type="submit"> Salir</button>
  </form>
<% end %>
<%= yield %>
</body>
</html>
